# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/
firmware/
include/*
!api.h
!main.h
!config.hpp
!chessboard.hpp
!color_spin.hpp

# Makefile
Makefile
common.mk
project.pros